body {
    font-family: 'Open Sans', sans-serif;
    background-color: #323232;
    margin: 0 auto;
    color: white;
}

h1 {
    text-align: center; 
}

#content {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

table td {
    width: 80px;
    height: 80px;
    border: 5px solid white; 
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.cross-animation {
    stroke-dasharray: 85;
    stroke-dashoffset: 85;
    animation: draw 2s forwards;
  }

  .circle-animation {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    animation: draw 2s forwards;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }